/**
* CSS for Project
**/

/*Structure*/
#primary {
	float: left;
	margin-right: 20px;
	width: 50%;
}
#secondary {
	float: left;
	width: 40%;
}

.leftfloat {float:left; margin-right: 5%;}
.leftfloat ol:first-child {padding:0px; margin:0px;}


/*List Styling*/
li {
	list-style-type: none;
	padding: 2px 0px;
}
ul li:before {
	content: "__";
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin-right: 5px;
	
}

.list button {background-color:#fff; border-radius:0px; border:1px solid black;}

.list p.x {text-decoration: line-through;}
.list p.x button {background-image:url('/projects/inc/X.png'); background-size:100%;}

.list p.o {font-weight: bold;}
.list p.o button {background-color:#000; border-radius:100px;}

.list p.del {display: none;}


li.x{
	text-decoration: line-through;
}
li.x:before{
	content: "X";
	border: 1px solid black;
	text-decoration: default;
	padding: 0px 2px;
}

li.o:before{
    content: ".";
    border: 9px solid black;
    background-color: black;
    border-radius: 100px;
    font-size: 0px;
    vertical-align: middle;
}

ol.num li {list-style-type: decimal;}

li.maybe:before{
	content:".";
	border: none;
	font-size: 0px;
	padding: 0px 9px;
}
li.maybe {
	font-style: italic;
	color: #333;
}

/*Spoon Calendar*/

.spooncal td {padding: 5px;}
.spooncal td.g {background-color: #00bb64;}
.spooncal td.y {background-color: #ffdd60;}
.spooncal td.r {background-color: #ee6055;}
/*#BB0013
/*Google colors
.spooncal td.g {background-color: #008744; color: #fff;}
.spooncal td.y {background-color: #ffa700; color: #fff;}
.spooncal td.r {background-color: #d62d20; color: #fff;}
*/

/*Looks okay but could be better
.spooncal td.g {background-color: #9ed670;}
.spooncal td.y {background-color: #e8d174;}
.spooncal td.r {background-color: #d64d4d;}
*/

/* og colors
.spooncal td.g {background-color: #009a44;}
.spooncal td.y {background-color: #fedd00;}
.spooncal td.r {background-color: #ef3340;}
*/

/*Phone Notecard*/
#phonecard {margin-top: 16em;}
#phonecard h1 {font-size: 8em;}